@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --animate-marquee-left: marquee-left var(--marquee-duration) linear var(--marquee-loop-count);
  --animate-marquee-right: marquee-right var(--marquee-duration) linear var(--marquee-loop-count);
  --animate-marquee-left-rtl: marquee-left-rtl var(--marquee-duration) linear var(--marquee-loop-count);
  --animate-marquee-right-rtl: marquee-right-rtl var(--marquee-duration) linear var(--marquee-loop-count);
  --animate-marquee-up: marquee-up var(--marquee-duration) linear var(--marquee-loop-count);
  --animate-marquee-down: marquee-down var(--marquee-duration) linear var(--marquee-loop-count);

  @keyframes marquee-left {
    0% { transform: translateX(0%); }
    100% { transform: translateX(calc(-100% - var(--marquee-gap))); }
  }
  @keyframes marquee-right {
    0% { transform: translateX(calc(-100% - var(--marquee-gap))); }
    100% { transform: translateX(0%); }
  }
  @keyframes marquee-up {
    0% { transform: translateY(0%); }
    100% { transform: translateY(calc(-100% - var(--marquee-gap))); }
  }
  @keyframes marquee-down {
    0% { transform: translateY(calc(-100% - var(--marquee-gap))); }
    100% { transform: translateY(0%); }
  }
  @keyframes marquee-left-rtl {
    0% { transform: translateX(0%); }
    100% { transform: translateX(calc(100% + var(--marquee-gap))); }
  }
  @keyframes marquee-right-rtl {
    0% { transform: translateX(calc(100% + var(--marquee-gap))); }
    100% { transform: translateX(0%); }
  }
}

:root {
  --background: oklch(0.901 0.002 67.8);
  --foreground: oklch(0.178 0.000 89.9);

  --card: oklch(0.995 0.002 67.8);
  --card-foreground: oklch(0.178 0.000 89.9);

  --popover: oklch(0.995 0.002 67.8);
  --popover-foreground: oklch(0.178 0.000 89.9);

  --primary: oklch(0.696 0.149 162.5);
  --primary-foreground: oklch(0.995 0.002 67.8);

  --secondary: oklch(0.995 0.002 67.8);
  --secondary-foreground: oklch(0.178 0.000 89.9);

  --muted: oklch(0.995 0.002 67.8);
  --muted-foreground: oklch(0.510 0.000 89.9);

  --accent: oklch(0.696 0.149 162.5);
  --accent-foreground: oklch(0.995 0.002 67.8);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.715 0.000 89.9);
  --input: oklch(0.715 0.000 89.9);
  --ring: oklch(0.715 0.000 89.9);

  --chart-1: oklch(0.852 0.039 171.4);
  --chart-2: oklch(0.803 0.076 170.8);
  --chart-3: oklch(0.762 0.108 169.0);
  --chart-4: oklch(0.696 0.149 162.5);
  --chart-5: oklch(0.600 0.125 163.5);

  --radius: 0.45rem;

  --sidebar: oklch(0.995 0.002 67.8);
  --sidebar-foreground: oklch(0.178 0.000 89.9);
  --sidebar-primary: oklch(0.696 0.149 162.5);
  --sidebar-primary-foreground: oklch(0.995 0.002 67.8);
  --sidebar-accent: oklch(0.696 0.149 162.5);
  --sidebar-accent-foreground: oklch(0.995 0.002 67.8);
  --sidebar-border: oklch(0.715 0.000 89.9);
  --sidebar-ring: oklch(0.715 0.000 89.9);

  --bg: 30 3% 87%;
  --navbar: 30 50% 99%;
}

.dark {
  --background: oklch(0.223 0.004 286.1);
  --foreground: oklch(0.916 0.000 89.9);

  --card: oklch(0.252 0.000 89.9);
  --card-foreground: oklch(0.916 0.000 89.9);

  --popover: oklch(0.252 0.000 89.9);
  --popover-foreground: oklch(0.916 0.000 89.9);

  --primary: oklch(0.759 0.130 156.3);
  --primary-foreground: oklch(0.223 0.004 286.1);

  --secondary: oklch(0.252 0.000 89.9);
  --secondary-foreground: oklch(0.916 0.000 89.9);

  --muted: oklch(0.252 0.000 89.9);
  --muted-foreground: oklch(0.640 0.000 89.9);

  --accent: oklch(0.759 0.130 156.3);
  --accent-foreground: oklch(0.223 0.004 286.1);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(0.450 0.000 89.9);
  --input: oklch(0.450 0.000 89.9);
  --ring: oklch(0.640 0.000 89.9);

  --chart-1: oklch(0.849 0.055 159.9);
  --chart-2: oklch(0.816 0.080 158.9);
  --chart-3: oklch(0.786 0.106 157.7);
  --chart-4: oklch(0.759 0.130 156.3);
  --chart-5: oklch(0.660 0.108 156.6);

  --sidebar: oklch(0.252 0.000 89.9);
  --sidebar-foreground: oklch(0.916 0.000 89.9);
  --sidebar-primary: oklch(0.759 0.130 156.3);
  --sidebar-primary-foreground: oklch(0.223 0.004 286.1);
  --sidebar-accent: oklch(0.759 0.130 156.3);
  --sidebar-accent-foreground: oklch(0.223 0.004 286.1);
  --sidebar-border: oklch(0.450 0.000 89.9);
  --sidebar-ring: oklch(0.640 0.000 89.9);

  --bg: 240 4% 11%;
  --navbar: 0 0% 13%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
